/* Variables */
@import 'functions';

// fonts
// 
$font-x-small: rem(12);
$font-small: rem(13);
$font-medium: rem(14);
$font-medium-2: rem(15);
$font-big: rem(16);
$font-large: rem(17);
$font-x-large: rem(22);

// *? COLORS
//// 
$body-bg: #ffffff;
$main-color: #15c413;
$grey-color: #777a7d;
$body-color: #16181b;
$light-green: #e5f7e5;

